<div class="container">
  <!--<card cardTitle="ROYALTIES DATA">
    <input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />
    <div class="scrolling-wrapper">
      <ng2-smart-table [settings]="settings" [source]="source" ></ng2-smart-table>
    </div>
  </card>-->
  <card cardTitle="ROYALTIES DATA">
      <input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />
      <div class="scrolling-wrapper">
        <ng2-smart-table [settings]="lsettings" [source]="lsource" ></ng2-smart-table>
      </div>
    </card>
</div>