div.left {
    width: 49%;
    float: left;
}

div.right {
    width: 49%;
    float: right;
}

.scrolling-wrapper {
    overflow-x: scroll !important;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
}

.ng2-smart-table {
    width: 100%;
}

:host /deep/ ng2-smart-table table > tbody > tr > td {
    box-sizing: border-box;
}

:host /deep/ ng2-smart-table tbody th {
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    background: #e8edf4;
}

/* headers grid color*/
:host /deep/ ng2-smart-table thead th  { 
    background: #E2E9F5;
    border-width: 2px;
    border-color: white;
} 
:host /deep/ ng2-smart-table thead > tr > td  { 
    border-width: 2px;
    border-color: white;
    border-bottom: 1px solid #ddd;
}
:host /deep/ ng2-smart-table thead > tr > td { 
    border-width: 1px;
    border-color: #ddd;
    border-bottom: 1px solid #ddd;
}  
/*font size*/
:host /deep/ ng2-smart-table {
    font-size:13px;
}
:host /deep/ ng2-smart-table table tr td{
    font-size:1em;
    word-break: keep-all !important;
}

input {
    width: 400px;
    height: 30px;
    font-weight: normal;
    font-size: 13px;
    margin: 2px 0 2px 0;
}

textarea {
    width: 400px;
    height: 200px;
    font-weight: normal;
    font-size: 13px;
    margin: 2px 0 2px 0;
}

.storage {
    width: 60%;
}

.submit_button {
    width: 5%;
    padding: 5px 0 5px 0;
    margin-left: 23%;
    border: 0;
}