
<div class="container">
  <div class="left">
    <card>
      <form (keydown.enter)="$event.preventDefault()" class="container" #editorForm="ngForm" (ngSubmit)="onSubmit()">
        <table class="storage">
          <tr>
            <th>저자검색</th>
            <td><input type="text" class="form-control" [(ngModel)]="searchFname.author" name="authorfind" (keydown)="authorKeyup()"></td>
            <th>
              
            </th>
            <td>
              <button type="button" class="submit_button" (click)="clear()">clear</button>
              
            </td>
            <th>
              <button type="button" class="submit_button" (click)="onNew()">추가저장</button>
            </th>
            <td>
                <button type="submit" class="submit_button">수정및저장</button>
            </td>
          </tr>
          <tr>
            <th>* 성명</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.author" name="author"></td>
            <th>소속</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.org" name="org">
            <th>직위</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.hierarchy" name="hierarchy"></td>
          
          
          </tr>
          <tr>
            <th>연락처휴대전화</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.cel1" name="cel1"> </td>
            <th>연락처02</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.cel2" name="cel2"></td>
            <th>팩스</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.fax" name="fax"></td>
          </tr>
          <tr>
            <th>사업자번호</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.busn" name="busn"></td>
            <th>주민번호</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.RRN" name="RRN"></td>
            <th>이메일</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.email" name="email"></td>
          </tr>
          <tr>
            <th>은행명</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.bank" name="bank"></td>
            <th>계좌번호</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.bankaccount" name="bankaccount"></td>
            <th>예금주</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.bankaccount_owner" name="bankaccount_owner"></td>
          </tr>
          <tr>
            <th>구분</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.cate" name="cate"></td>
            <th>기념일</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.anniversary" name="anniversary"></td>
            <th>전공</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.major" name="major"></td>
          </tr>
          <tr>
            <th>ID</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.id" name="id"></td>
            <th>PW</th>
            <td><input type="text" class="form-control" [(ngModel)]="editorData.pw" name="pw"></td>
          </tr>
          
        </table>
        <table>
          <tr>
              <th>주소직장</th>
              <td><input type="text" class="form-control long" [(ngModel)]="editorData.addr_comp" name="addr_comp"></td>
            </tr>
            <tr>
              <th>주소자택</th>
              <td><input type="text" class="form-control long" [(ngModel)]="editorData.addr_home" name="addr_home"></td>
            </tr>
            <tr>
              <th>비고01</th>
              <td><input type="text" class="form-control long" [(ngModel)]="editorData.bigo_01" name="bigo_01"></td>
            </tr>
            <tr>
              <th>비고02</th>
              <td><input type="text" class="form-control long" [(ngModel)]="editorData.bigo_02" name="bigo_02"></td>
            </tr>
        </table>
        <br>
        <br>
      </form>
    </card>
  </div>
    <div class="right">
      <card cardTitle="상담기록">
        <ng2-smart-table [settings]="counselsettings" [source]="counselsource" (deleteConfirm)="counseldeleteRecord($event)" (createConfirm)="counselcreateRecord($event)" (editConfirm)="counselupdateRecord($event)" ></ng2-smart-table>
      </card>
      <card cardTitle="책리스트">
        <ng2-smart-table [settings]="booksettings" [source]="booksource" ></ng2-smart-table>
      </card>
    </div>
</div>
<div class="containerbottom"> 
<div class="scrolling-wrapper">
    <card >
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(0)">성명</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(1)">소속</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(2)">직위</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(3)">휴대전화</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(4)">연락처_02</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(5)">팩스</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(6)">이메일</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(7)">사업자번호</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(8)">구분</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(9)">주민번호</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(10)">은행</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(11)">계좌번호</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(12)">예금주</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(13)">주소직장</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(14)">주소자택</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(15)">비고1</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(16)">비고2</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(17)">전공</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(18)">기념일</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(19)">ID</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="hideorshow(20)">PW</button>&nbsp;
      <form class="container" #searchForm="ngForm" (ngSubmit)="onSearch()"></form>
      <br>
      <ng2-smart-table [settings]="settings" [source]="lsource" (deleteConfirm)="deleteRecord($event)" (createConfirm)="createRecord($event)" (editConfirm)="updateRecord($event)" (rowSelect)="onRecordselected($event)"></ng2-smart-table>
    </card>
  </div>
</div>