
<div class="container">
  <div class="left">
    <card cardTitle="AUTHOR REGISTRATION">
      <form (keydown.enter)="$event.preventDefault()" class="container" #editorForm="ngForm" (ngSubmit)="onSubmit()">
        <table class="storage">
          <tr>
            <th>검색</th>
            <td>&nbsp;</td>
            <th>도서명</th>
            <td>
              <!--<select (ngModelChange)="selectedBook($event)" class="form-control" [(ngModel)]="searchSelect.bookname" name="authorSearch" id="books">
                <option [ngValue]="null">{{searchSelect.bookname}}</option>
                <option *ngFor="let bookname of bookNames" [value]="bookname">{{bookname}}</option>
              </select>-->
              <input type="text" class="form-control" [(ngModel)]="searchSelect.bookname" name="findbookname" (keyup)="bookKeydown($event)">
            </td>
            <th>저자</th>
            <td>
              <select (ngModelChange)="selectedAuthor($event)" class="form-control" [(ngModel)]="searchSelect.author" name="authorSearch" id="authors">
                <option [ngValue]="null">{{searchSelect.author}}</option>
                <option *ngFor="let author of searchData" [value]="author">{{author}}</option>
              </select>
            </td>
          </tr>
          <hr>
          <tr>
            <th>발행처</th>
            <td>
              <select class="form-control" [(ngModel)]="bookData.from" name="from" id="publisher">
                <option [ngValue]="null">{{bookData.from}}</option>
                <option value="글로벌콘텐츠출판그룹">글로벌콘텐츠출판그룹</option>
                <option value="작가와비평(글로벌콘텐츠)">작가와비평(글로벌콘텐츠)</option>
                <option value="글모아출판(글로벌콘텐츠)">글모아출판(글로벌콘텐츠)</option>
                <option value="세림출판(글로벌콘텐츠)">세림출판(글로벌콘텐츠)</option>
                <option value="컴원미디어(글로벌콘텐츠)">컴원미디어(글로벌콘텐츠)</option>
                <option value="G노벨(글로벌콘텐츠)">G노벨(글로벌콘텐츠)</option>
              </select>
            </td>
            <th>도서명</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.bookname" name="barname"></td>
            <th>저자</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.author" name="author"></td>
          </tr>
          <tr>
            <th>바코드</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.barcode" name="barcode"> </td>
            <th>정가</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.price" name="price"></td>
            <th>발행일</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.relday" name="relday"></td>
          </tr>
          <tr>
            <th>상태</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.status" name="status"></td>
            <th>인세율</th>
            <td><input type="number" class="form-control" [(ngModel)]="bookData.royaltipercent" name="royaltipercent"></td>
            <th>판쇄</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.edition" name="edition"></td>
          </tr>
          <tr>
            <th>에이전시</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.agency" name="agency"></td>
            <th>원출판사</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.originrel" name="originrel"></td>
            <th>로열티</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.royalti" name="royalti"></td>
          </tr>
          <tr>
            <th>판형</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.panhyng" name="panhyng"></td>
            <th>제본</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.jaebon" name="jaebon"></td>
            <th>페이지</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.page" name="page"></td>
          </tr>
          <tr>
            <th>계약기간</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.contactrange" name="contactrange"></td>
            <th>인세주기</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.royaltijugi" name="royaltijugi"></td>
            <th>저술_번역</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.translate" name="translate"></td>
          </tr>
          <tr>
            <th>도서코드</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.bookcode" name="bookcode"></td>
            <th>계약일</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.contactdate" name="contactdate"></td>
            <th>발행부수</th>
            <td><input type="text" class="form-control" [(ngModel)]="bookData.relnumber" name="relnumber"></td>
          </tr>
        </table>
          <hr>
          <div>
            <button type="button" class="submit_button" (click)="onNew()">저장</button>
            <button type="submit" class="submit_button">수정</button>
          </div>
          <br>
         </form>
      </card>
    </div>
    <div class="right">
      <div>
      <card cardTitle="재쇄기록">
        <div class="scrolling-wrapper">
          <ng2-smart-table [settings]="editionsettings" [source]="editionsource" (deleteConfirm)="editiondeleteRecord($event)" (createConfirm)="editioncreateRecord($event)" (editConfirm)="editionupdateRecord($event)"></ng2-smart-table>  
        </div>
        합계 : {{this.sum}}
      </card>
      </div>
      <div>
          <card cardTitle="진행기록">
              <div class="scrolling-wrapper">
                  <ng2-smart-table [settings]="processsettings" [source]="processsource" (deleteConfirm)="processdeleteRecord($event)" (createConfirm)="processcreateRecord($event)" (editConfirm)="processupdateRecord($event)"></ng2-smart-table>
              </div>
          </card>
      </div>
    </div>
</div>
<div class="container">
  <card cardTitle="BOOK DATA">
    <div class="scrolling-wrapper">
      <ng2-smart-table [settings]="settings" [source]="lsource" (deleteConfirm)="deleteRecord($event)" (createConfirm)="createRecord($event)" (editConfirm)="updateRecord($event)" (rowSelect)="onRecordselected($event)"></ng2-smart-table>  
    </div>
  </card>   
</div>